version: "3.8"

services:
  server:
    build: ./server
    container_name: legal_document_server
    ports:
      - "8000:8000"

  client:
    build:
      context: ./client
      args:
        - VITE_API_URL=http://127.0.0.1:8000
    container_name: legal_document_client
    ports:
      - "4173:4173"
    depends_on:
      - server
